
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  overflow: hidden ;

}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #dfcefb;
  border-radius: 0; 
  overflow: hidden ; 
  width: 100vw;
  margin: 0; 
  transition: top 0.5s ease;
  flex-direction: row; 
  height: auto; 
  z-index: 2;
  
}


.text-section {
  text-align: center;
  padding: 40px;
  width: 50%; 
  box-sizing: border-box; 
  
}

.text-section h1 {
  font-family: Outfit;
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 5rem;
  color: #bc9def;
  margin-bottom: 6%;
  margin-top: -6%;
  text-shadow: 
  -3px -3px 0 #ffffff,  /* Top-left */
  3px -3px 0 #ffffff,   /* Top-right */
  -3px 3px 0 #ffffff,   /* Bottom-left */
  3px 3px 0 #ffffff;    /* Bottom-right */
}

.cta-button {
  background-color: #bc9def;
  color: #fff;
  font-family: Outfit;
  font-size: 300%;
  border: 5px solid white; 
  padding: 20px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 20px;
  letter-spacing: 6px;
  width: 70%; 
  display: inline-block;
  text-shadow: 
  -2px -2px 0 #9764e8,  /* Top-left */
  2px -2px 0 #9764e8,   /* Top-right */
  -2px 2px 0 #9764e8,   /* Bottom-left */
  2px 2px 0 #9764e8;    /* Bottom-right */
}

.cta-button:hover {
  background-color: #9764e8;
}

.info-link {
  display: block;
  margin-top: 2px;
  margin-bottom: 50px;
  font-family: Outfit;
  font-size: 120%;
  text-align: left;
  font-weight: 400;
  color: #9764e8;
  text-decoration: none;
  transform: translateX(18%);
}

.info-link:hover {
  text-decoration: underline;
}

.image-section {
  position: relative;
  margin-right: 20%; 
  margin-top: 10%;
  margin-bottom: 10%; 
  height: 95vh; 
}
.image-section img {
  width: 100%;
  height: 100%;
}

.information {
  position: fixed; /* Ensures it stays at the bottom of the page */
  bottom: -300px;
  left: 27%;
  transform: translateX(-50%); 
  background-color: #f9f9f9; 
  border-radius: 15px; 
  padding: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 80%; 
  max-width: 600px; 
  text-align: center;
  transition: bottom 0.5s ease;

}

.information h2 {
  font-family: Outfit;
  font-weight: 700;
}

.information p {
  font-family: Outfit;
  font-weight: 300;
}

.information.active {
  bottom: 10px; 
}

.hidden {
  display: none; 
}

.hidden-up {
  transform: translateY(-100vh); 
  transition: transform 0.5s ease; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 300%; 
  overflow: visible; 
  flex-wrap: wrap;
  width: 115%;
  transform: translateX(40%); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.mainpage {
  position: absolute; 
  top: 0; 
  left: 0;
  right: 0;
  height: 100vh; 
  background-color: rgb(255, 255, 255); 
  z-index: 0; 
}

.CreateTask {
  position: relative; 
  top: 0; 
  left: 0;
  right: 0;
  height: 15%; 
  width: 70vw;
  background-color: rgb(255, 255, 255); 
  z-index: 1; 
}

.CreatedTasks {
  position: absolute;
  top: 15%;
  left: 0;
  height: 15%;
  width: 70vw;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.Key {
  position: absolute;
  top: 0;
  left: 70vw;
  height: 30%;
  width: 30vw;
  background-color: rgb(109, 32, 39);
  z-index: 1;
  visibility: visible;
  box-sizing: border-box;
}

.TaskName-input-container {
  position: relative;
  width: 30%; 
  height: 40px; 
  display: flex;
  align-items: center;
  background-color: #dfcefb;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  left: 2%;
  top: 20%;
  min-width: 0;
}

.TaskName-input {
  flex: 1; 
  min-width: 0;
  height: 100%;
  background-color: transparent;
  color: #494949;
  font-size: 1rem;
  font-family: Outfit, sans-serif;
  font-weight: 300;
  padding: 10px;
  outline: none;
  border: none;
  text-align: left;
}

.TaskName-icon {
  height: calc(80%); 
  width: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1dbb5;
  font-family: Outfit;
  color: #494949;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: auto;
  margin-top: 2px; 
  margin-bottom: 2px;
}


.T-icon {
  min-width: 40px; 
  max-width: 40px; 
}

.TaskName-icon:hover {
  background-color: #a4ca92; 
  border: none;
}


.TaskName-input-container {
  padding-right: 5px; 
}

.hour-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: -8px;
  position: relative;
  left: 38%;
  flex-wrap: wrap; 
  width: 30%;
}

.SelectHour {
  position: static; 
  font-family: Outfit, sans-serif;
  color: #494949;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 50%; 
  white-space: normal;
}

.hour-dropdown {
  border: none;
  background-color: #dfcefb;
  color: #494949;
  width: 80px; 
  height: 40px;
  font-family: Outfit, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.NoTaskName {
  position: absolute;
  font-family: Outfit, sans-serif;
  color: #c25b5b;
  top: 50%;
  left: 12%;
  font-size: 1rem;
  font-weight: 400;
  visibility: hidden;
}

.NoSplitSelected {
  position: absolute;
  font-family: Outfit, sans-serif;
  color: #c25b5b;
  top: 50%;
  left: 12%;
  font-size: 1rem;
  font-weight: 400;
  visibility: hidden;
}

.HourSplit-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Outfit, sans-serif;
  color: #494949;
  flex-wrap: wrap;
  margin-top: -30px;
  position: relative;
  left: 65%; 
  width: 33%; 
}

.HourSplit-wrapper label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 50%; 
  white-space: normal;
}

.HourSplit-wrapper input[type="radio"] {
  accent-color: #c4e09e;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.HourSplit-wrapper .HourSplit {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 50%; 
  white-space: normal;
}

.CreatedTasks > div {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.Task1_container, .Task2_container, .Task3_container, .Task4_container, .Task5_container,
.Task6_container, .Task7_container, .Task8_container, .Task9_container, .Task10_container {
  background-color: white;
}

.Trash-Container img {
  width: 50%;
  height: 50%;
  object-fit: cover; 
}

.Trash-Container:hover {
  background-color: #ffacac;
}

.Task1, .Task2, .Task3, .Task4, .Task5,
.Task6, .Task7, .Task8, .Task9, .Task10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    aspect-ratio: 1; 
    background-color: #ffffff; 
    border-radius: 8px;
    visibility: active;
    
}

.Timetable {
  position: absolute; 
  top: 30%; 
  left: 10%;
  right: 0;
  height: 70%; 
  width: 100vw;
  background-color: rgb(255, 255, 255); 
  z-index: 1; 
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}


.timetable-grid {
  border-collapse: collapse;
  text-align: center;
  background-color: #f8f9fa;
  border: 2px solid #ddd;
  width: 80%;
}


.timetable-grid th {
  background-color: #9764e8;
  color: white;
  font-weight: bold;
  padding: 15px;
}

.timetable-grid td {
  height: 150px; 
  border: 1px solid #ddd;
  padding: 15px;
  min-width: 100px;
}

.time-label {
  font-weight: bold;
  background-color: #dfcefb;;
}



.timetable-grid td:hover:not(:first-child) {
  height: 150px; 
  background-color: #e2e2e2;
  border: 1px solid #ddd;
  padding: 15px; 
  min-width: 100px;
}

.segment {
  width: 100%;
  height: 100%;
  background-color: #bdbdbd; 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Outfit, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.segment .task-name {
  font-size: 16px;
  font-weight: bold;
}

.segment .hour-split {
  font-size: 14px;
}

.segment .category-dropdown,
.segment .complete-btn {
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  font-family: Outfit, sans-serif;
  cursor: pointer;
}

.segment .category-dropdown {
  width: 80%;
}

.segment .complete-btn {
  background-color: rgb(243, 151, 151);
  color: white;
  border: none;
  border-radius: 5px;
}


/* Mobile styles */
@media (max-width: 767px) {
  body {
      overflow: auto; 
      height: auto; 
  }

  .homepage {
      flex-direction: column; 
      height: auto; 
      min-height: 100vh; 
  }

  .text-section {
    width: 100%;
    min-height: 100vh;
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 15%; 
 
  }

  .text-section h1 {
      font-size: 3rem; 
  }

  .cta-button {
      width: 80%; 
      font-size: 2rem; 
  }

  .image-section {
      width: 70%; 
      height: auto; 
      margin-top: -45%;
      
  }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: center; 
        font-family: Outfit;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 5vw; 
        max-width: 90%;
        max-height: 70%;
        padding: 0 10px; 
        overflow-wrap: break-word; 
        overflow: hidden; 
    }

    .information {
      position: fixed; 
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f9f9f9; 
      border-radius: 15px; 
      padding: 10px; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
      width: 80%;
      max-width: 600px; 
      text-align: center; 
      transition: bottom 0.5s ease;
      z-index: 4;
  }
  .hidden-up {
    transform: translateY(-200vh);
    transition: transform 1.5s ease;
  }

  .NoTaskName {
    position: relative; 
    top: auto;
    left: auto;
    display: block;
    margin-top: 10px; 
    white-space: normal; 
  }

  .hour-wrapper {
    margin-top: -10%;
  }
  
  .HourSplit-wrapper {
    margin-top: -150px;
    overflow: wrap;
}

.CreatedTasks {
  flex-wrap: wrap;
  height: auto;
}

.CreatedTasks > div {
  flex: 1 0 15%; 
  margin-bottom: 10px;
}

.Timetable {
  top: 40.85%;
  left:0;
  justify-content: flex-start;
  overflow: scroll;
}

}









